.footer {
  font-size: 16px;
}

.footer__copyright {
}

.footer__link {
  color: #ff6a00;
  transition: color 300ms linear;

  &:hover,
  &:focus {
    color: #000000;
  }
}

.footer__icon {
  fill: currentColor;
}

.footer__powered {
  font-weight: 700;
}

.footer__studios {
  padding: 15px;
  border: 1px solid #000000;
}
